@{<div class="card m">
        <div class="card-body">
            <h5 class="card-title">Aggregaties</h5>            
            @if (Model != null)
            {
            <p class="card-text">Aantal gevonden aggregaties:</p>
            <p class="card-text">Archief: @Model.archief</p>
            <p class="card-text">Series: @Model.series</p>
            <p class="card-text">Dossier: @Model.dossier</p>
            <p class="card-text">Record: @Model.record</p>
            <p class="card-text">Bestand: @Model.bestand</p>
            <p class="card-text">Onbekend: @Model.onbekend</p>
            }
            else{
                <p class="card-text">Sidecar validatie niet gestart.</p>
            }
        </div>
    </div>}
