@*
    {{
      "id": "1969",
      "parentId": "1962",
      "uri": "file:/data/9482576a-7a08-4e8f-ab52-f8aa1b7ee519/4e70c523-63f9-5940-90fb-bcacc4fc37b3/cc37f03c-b2e7-a24d-9b52-17fde6511832/fd811e31-62f5-114c-9413-52ed0a1ad263/DCC8F50CDF1040F5838FB094708D3C0A.docx",
      "filePath": "/data/9482576a-7a08-4e8f-ab52-f8aa1b7ee519/4e70c523-63f9-5940-90fb-bcacc4fc37b3/cc37f03c-b2e7-a24d-9b52-17fde6511832/fd811e31-62f5-114c-9413-52ed0a1ad263/DCC8F50CDF1040F5838FB094708D3C0A.docx",
      "name": "DCC8F50CDF1040F5838FB094708D3C0A.docx",
      "method": "Container",
      "status": "Done",
      "size": "174173",
      "type": "File",
      "ext": "docx",
      "lastModified": "2017-09-18T08:50:29",
      "extensionMisMatch": "false",
      "hash": "",
      "formatCount": "1",
      "puid": "fmt/412",
      "mimeType": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
      "formatName": "Microsoft Word for Windows",
      "formatVersion": "2007 onwards"
    }}
*@
<div class="card m">
    <div class="card-body">
        @{
            <h5 class="card-title">Pronom (Droid)</h5>
            @if (Model.Count > 0)
            {
                @foreach (dynamic row in Model)
                {
                    <p class="card-text">
                        <table class="table">
                            <thead>
                                @if (row.ext == "metadata")
                                {
                                    <tr><th colspan="2" scope="col">Metadata:</th></tr>
                                }
                                else
                                {
                                    <tr><th colspan="2">Bestand:</th></tr>
                                }
                            </thead>
                            <tbody>
                                <tr><td>Naam:</td><td>@row.name</td></tr>
                                <tr><td>PUID:</td><td>@row.puid</td></tr>
                                <tr><td>Formaat:</td><td>@row.formatName</td></tr>
                                <tr><td>Versie:</td><td>@row.formatVersion</td></tr>
                                <tr><td>Mimetype:</td><td>@row.mimeType</td></tr>
                                <tr><td>Extensie:</td><td>@row.ext</td></tr>
                                <tr><td>Grootte:</td><td>@row.size</td></tr>
                                <tr><td>Laatste bewerkt op:</td><td>@row.lastModified</td></tr>
                                @if (row.ext == "metadata")
                                {
                                    <tr><td>Encoding:</td><td><div id="encoding"></div></td></tr>
                                }
                                @if (row.ext != "metadata")
                                {
                                    <tr><td>Greenlist:</td><td><div id="greenlist"></div></td></tr>
                                }
                            </tbody>
                        </table>
                        <br />

        @if (row.ext == "metadata")
        {
            <script type="text/javascript">
                        $("#encoding").load("/sidecar/metadataencoding/@Html.Raw(ViewBag.CurrentSession)/@Html.Raw(ViewBag.CurrentTreeItem)");
            </script>
        }
        @if (row.ext != "metadata")
        {
            <script type="text/javascript">
            $("#greenlist").load("/sidecar/greenliststatus/@Html.Raw(ViewBag.CurrentSession)/@Html.Raw(ViewBag.CurrentTreeItem)");
            </script>
        }

            </p>
            }
        }
        else
        {<p class="card-text">Droid Pronom eigenschappen niet gevonden.</p>}
    }
    </div>
</div>
